/* Define the color values */
:root {
  --bgbuttonsave: blue;
  --bgbuttoncancel: red;
  --bgbehindeditform: rgba(0, 0, 0, 0.7);
  --bgeditform: white;
}
.editForm-Container {
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--bgbehindeditform);
}
.editForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 55%;
  background-color: var(--bgeditform);
  border-radius: 5%;
  z-index: 2;
}
.container-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.container-form input {
  width: 100%;
  height: 25%;
  margin-top: 10px;
  padding-left: 5px;
}
.container-form textarea {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding-left: 5px;
}

.but {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  margin-top: 10px;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  background-color: var(--bgbuttonsave);
  color: white;
  font-size: small;
  font-weight: 600;
  border: none;
  padding: 6px;
}
.btn-cancel {
  margin-top: 10px;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  background-color: var(--bgbuttoncancel);
  color: white;
  font-size: small;
  font-weight: 600;
  border: none;
  padding: 6px;
}
.container-form label {
  font-size: medium;
  text-align: left;
  width: 100%;
  height: 20%;
  margin-top: 10px;
}
