.insertForm-Container {
  top: 0%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 40%;
  height: 35%;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
}

.first-container input {
  width: 100%;
  height: 30%;
  margin-top: 10px;
}

.first-container textarea {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.first-container {
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.insert-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
.create-btn {
  height: 100%;
  width: 50%;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: small;
  font-weight: 600;
  border: none;
  padding: 6px;
}
.cancel-btn {
  height: 100%;
  width: 50%;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-size: small;
  font-weight: 600;
  border: none;
  padding: 6px;
}
