thead {
  font-size: large;
  /* background-color: #dddddd; */
  background-color: black;
  color: white;
}
.containerTable {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}
table {
  width: 90%;
  height: 10px;
}
table,
th,
td {
  padding: 6px;
  /* border: 1px solid gray; */
  border: none;
  border-collapse: collapse;
}
tbody tr:nth-child(even) {
  background-color: #eee;
}
td {
  padding-left: 10px;
}

.action-container {
  text-align: center;
  height: 100%;
  width: 12%;
  padding: 2px;
}
.action {
  width: 50%;
  height: 100%;
  color: white;
  background-color: green;
  border: none;
  padding: 2px;
  border-radius: 5px;
}
